
<div class="card-container">
    <h1>{{name}}</h1>
    <div>
        <div>
            <h3>Capital: {{capital}}</h3>
            <h3>Population: {{population}}</h3>
            <h3>Languages: </h3>
            <ul>
        {{#each languages}}
        <li>{{this.name}}</li>{{/each}}
        </li>
        </ul>
        </div >
        <img class="flag" src="{{flags.svg}}" alt="{{name}}">
        </div>
</div>
