<div class="card-container">
    <h1>{{name}}</h1>
    <div>
        <div>
            <h3>height: {{height}}</h3>
            <h3>order: {{order}}</h3>
            <h3>abilities: </h3>
            <ul>
                {{#each abilities}}
                <li>
                    {{ability.name}}
                </li>
                {{/each}}
            </ul>
        </div>
        <img src="{{sprites.front_default}}" alt="{{name}}">
    </div>
</div>